//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 0.5rem;

// responsive
$screen-phone-small: 350px;
$screen-phone: 600px;
$screen-tablet: 900px;
$screen-tablet-big: 1200px;
$screen-desktop: 1900px;

//fonts

$default-font-size: 1.6rem;
$defult-font-family: "Quicksand";
$second-font-family: "Fredoka One";
$third-font-family: "Jost";

//primary colors
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #ffffff;
$color-black: #000;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

//specified colors

$color-red-1: #ff6b6b;
$color-red-2: #f03e3e;
$color-red-3: #c92a2a;

$color-pink-1: #f783ac;
$color-pink-2: #e64980;
$color-pink-3: #c2255c;

$color-grape-1: #e599f7;
$color-grape-2: #cc5de8;
$color-grape-3: #9c36b5;

$color-violet-1: #b197fc;
$color-violet-2: #845ef7;
$color-violet-3: #6741d9;

$color-indingo-1: #91a7ff;
$color-indigo-2: #5c7cfa;
$color-indingo-3: #4263eb;

$color-blue-1: #74c0fc;
$color-blue-2: #339af0;
$color-blue-3: #1971c2;

$color-cyan-1: #3bc9db;
$color-cyan-2: #15aabf;
$color-cyan-3: #0c8599;

$color-teal-1: #38d9a9;
$color-teal-2: #12b886;
$color-teal-3: #099268;

$color-green-1: #69db7c;
$color-green-2: #51cf66;
$color-green-3: #40c057;
$color-green-4: #37b24d;
$color-green-5: #2f9e44;

$color-orange-1: #ffa94d;
$color-orange-2: #ff922b;
$color-orange-3: #fd7e14;
$color-orange-4: #f76707;

$color-yellow-1: #ffd43b;
$color-yellow-2: #ffff00;
$color-yellow-3: #fab005;

$color-lime-1: #a9e34b;
$color-lime-2: #82c91e;
$color-lime-3: #74b816;
