.SingleGrade {
  &-teal {
    background-color: $color-teal-1;
  }
  &-blue {
    background-color: $color-blue-1;
  }
  &-pink {
    background-color: $color-pink-1;
  }
  &-orange {
    background-color: $color-orange-1;
  }
  &-red {
    background-color: $color-red-1;
  }
  &-yellow {
    background-color: $color-yellow-1;
  }
  &-green {
    background-color: $color-green-3;
  }
  &-pink {
    background-color: $color-pink-1;
  }
  &-purple {
    background-color: $color-indingo-3;
  }
}
